body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

h1 {
    color: red;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 20px;
    background: white;
}